 <div class="container" width="100px">
      <h2>COMPETOURN</h2>
      <form (ngSubmit)="login()" class="form" >
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="user.userName" name="userName" placeholder="username" required=""/>
          </div> 
  
          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="password" required=""/>
          </div>
  
          <div class="form-group">
            <button type="submit" class="btn btn-success"  >Login</button>
        
          </div>
  <span style="color: red;">{{message}}</span>
        </div>
      </form>
  </div>